{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Make reservation</h1>
            <h5>Reservation Details</h5>
            <form action="" method="post" class="needs-validation" novalidate>
                <div class="form-group mt-5">
                    <label for="first_name">First name:</label>
                    <input type="text" name="first_name" id="first_name" required class="form-control" autocomplete="off">
                </div>

                <div class="form-group mt-5">
                    <label for="last_name">Last name:</label>
                    <input type="text" name="last_name" id="last_name" required class="form-control" autocomplete="off">
                </div>

                <div class="form-group mt-5">
                    <label for="email">Email:</label>
                    <input type="email" name="email"  class="form-control" id="email" required autocomplete="off">
                </div>

                <div class="form-group mt-5">
                    <label for="phone">Phone:</label>
                    <input type="text" name="phone" class="form-control" id="phone" required autocomplete="off">
                </div>

                <hr>

                <input type="submit" class="btn btn-primary" value="Make Reservation">
            </form>
        </div>
    </div>

</div>
{{end}}

{{define "js"}}
<script>

    document.getElementById("check-availability-button").addEventListener("click", function() {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="row">
                <div class="col">
                    <div class="row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        `
        attention.custom({msg: html, title: "Choose your dates"});
    });
</script>
{{end}}
